html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.div-nav{
    background: radial-gradient(circle at 24.1% 68.8%, #202d3a 0%, #162229 99.4%);
    height: 8%;
}

.navar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 8vh;
}

.mrxelander{
    text-decoration: none;
    font-family: monospace;
    font-size: 36px;
    color: #fff;
    margin-left: 20px;
}

.mrxelander:hover{
    box-shadow: inset 300px 0 0 0 #ffffff73;
    color: rgb(44, 44, 44);
    font-weight: bold;
}

.home{
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    box-shadow: inset 100px 0 0 0 #ffffff;
    color: #000;
    margin-left: auto;
    margin-right: 20px;
    font-weight: bold;
}

.home:hover{
    font-weight: bold;
    box-shadow: inset 100px 0 0 0 #ffffffb5;
}

.others{
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
}

.others:hover{
    font-weight: bold;
    box-shadow: inset 150px 0 0 0 #ffffffb5;
    color: #000;
}

.div-page{
    display: flex;
    background: radial-gradient(circle at 10% 20%, #e2f5ff 0%, #162229 81.3%);
    width: 100%;
    height: 92%;
    justify-content: center;
    align-items: center;
}

.div-info{
    display: flex;
    width: 90%;
    height: 70%;
    background: radial-gradient(circle at 10% 20%,#c6ebff 0%, #e2f5ff 81.3%);
    justify-content: center;
    align-items: center;
}

.div-text{
    padding-right: 100px;
    margin-left: 10px;
}

.div-text h1{
    font-family: monospace;
    color: #000;
    background-color: #fff;
    font-size: 40px;
}

.div-text h3{
    color: #000;
    font-size: 36px;
}

.div-text h4{
    color: #162229;
    font-size: 30px;
}

.image-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div-social{
    padding-top: 50px;
}

.link{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #202d3a;
    font-size: 30px;
    border-radius: 20px;
}

@media screen and (max-width: 950px){
    .div-nav{
        height: 5%;
    }

    .navar{
        height: 5vh;
    }
    .mrxelander{
        font-size: 25px;
        margin-left: 10px;
    }
    .home{
        font-size: 15px;
        margin-right: 10px;
    }

    .others{
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .div-page{
        height: 95%;
    }

    .div-text{
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
    
    .div-text h1{
        font-size: 25px;
    }
    
    .div-text h3{
        font-size: 23px;
    }
    
    .div-text h4{
        font-size: 20px;
    }

    .image-container {
        width: 300px;
        height: 300px;
    }

    .link{
        font-size: 10px;
        margin-left: 0px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 650px){
    .div-nav{
        height: 5%;
    }

    .navar{
        height: 5vh;
    }
    .mrxelander{
        font-size: 15px;
        margin-left: 5px;
    }
    .home{
        font-size: 10px;
        margin-right: 5px;
    }

    .others{
        font-size: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .div-page{
        height: 95%;
    }

    .div-text{
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
    
    .div-text h1{
        font-size: 20px;
    }
    
    .div-text h3{
        font-size: 18px;
    }
    
    .div-text h4{
        font-size: 15px;
    }

    .image-container {
        width: 200px;
        height: 200px;
    }

    .link{
        font-size: 10px;
        margin-left: 0px;
        margin-right: 5px;
    }
}